## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [19]:
import pandas as pd
import numpy as np

data = pd.read_csv('../weather-raw.csv')
data.head(10)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN

In [20]:
data.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [21]:
data.dtypes

id          object
year         int64
month        int64
element     object
d1         float64
d2         float64
d3         float64
d4         float64
d5         float64
d6         float64
d7         float64
d8         float64
d9         float64
d10        float64
d11        float64
d12        float64
d13        float64
d14        float64
d15        float64
d16        float64
d17        float64
d18        float64
d19        float64
d20        float64
d21        float64
d22        float64
d23        float64
d24        float64
d25        float64
d26        float64
d27        float64
d28        float64
d29        float64
d30        float64
d31        float64
dtype: object

In [22]:
# 1 - transposer les colonnes en ligne
# 2 - crÃ©er une colonne tmin et tmax
# 3 - rÃ©ordonner les colonnes

In [27]:
reverse = data.transpose().fillna(0).head(10)

reverse

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
id,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,...,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004
year,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,...,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010
month,1,1,2,2,3,3,4,4,5,5,...,7,7,8,8,10,10,11,11,12,12
element,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,...,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin
d1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29.9,13.8
d2,0,0,27.3,14.4,0,0,0,0,0,0,...,0,0,0,0,0,0,31.3,16.3,0,0
d3,0,0,24.1,14.4,0,0,0,0,0,0,...,28.6,17.5,0,0,0,0,0,0,0,0
d4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,27.2,12,0,0
d5,0,0,0,0,32.1,14.2,0,0,0,0,...,0,0,29.6,15.8,27,14,26.3,7.9,0,0
d6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,27.8,10.5

In [ ]:
#.dropna
#.pivot